@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 400;
    src: local("TTlakes"),
         url("TTLakes/TTlakes-regular.woff2") format("woff2"),
         url("TTLakes/TTlakes-regular.woff") format("woff");
  }

.companys{
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: #F8F8F8;
    min-width: 320px;
    max-width: 1120px;
}

.slider__description{
    width: 100%;
    margin-top: 0;
    padding: 16px;
    background-image: linear-gradient(to right, #F8F8F8,white);
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #7E7E82;

}

.slider__description::before{
    content:"";
    display: block;
    width: calc(100% + 32px);
    position: relative;
    bottom: 16px;
    right: 16px;
    height: 3px;
    background-color: #D9FFF5;
}

.slider__card{
    width: 240px;
    height: 72px;
    background-color: white;
    border: solid 1px #EAEAEA;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.slider__logo{
    margin-left: 16px;
    margin-right: auto;
}

.slider__go{
    margin-left: auto;
    margin-right: 16px;
}

.swiper{
    margin-left: 16px;
    width: calc(100% + 16px);
}

.swiper-slide{
    width: 240px;
}

.swiper-pagination{
    position: relative;
    margin-top: 21px;
}

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: #B5B6BC;
}

.show-button{
    display: flex;
    align-items: center;
    width: 135px;
    margin-left: 24px;
}

.show-image{
    margin-right: auto;
}

.hidden{
    display: none;
}

@media (width>=768px){
    .swiper{
        margin-left: 24px;
    }

    .swiper-wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    .swiper-slide{
        margin-right: 2%;
        margin-bottom: 16px;
    }

    .swiper-pagination{
        display: none;
    }
}

@media (width=1120px){
    .swiper{
        margin-left: 32px;
    }

    .show-button{
        margin-left: 32px;
    }
}